<!--_ shows this is a partial -> a reusable html-->

<!--Handles CSRF token-->
<!--We send the new bird model, so it knows it's POST/PUT-->
<!--no @ instance, but localvar to be defined when rendering the partial -->
<%= form_with model: bird do |form| %>
    <% if form.object.errors.any?%>
        <p class="error"><%= form.object.errors.full_message.first%>
    <% end %>
<div>
<%= form.label :name%>
<%= form.text_field :name %>
</div>
<div>
<%= form.submit%><!-- adjusts the text on button accordingly-->
</div>

<%end%>
